name: Build NAS
# trigger via either push to selected branches or on manual run
on:
  push:
    branches:
      - nas
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-nas
  cancel-in-progress: true

jobs:
#============================================
# ============== .NET 2.0 BUILD =============
# ===========================================
  build-mono2:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Use rework branch
        shell: bash
        id: Notice
        run: |
          echo 'Use nas-rework branch instead!'
          
#============================================
# ============== .NET 4.0 BUILD =============
# ===========================================
  build-mono4:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Use rework branch
        shell: bash
        id: Notice
        run: |
          echo 'Use nas-rework branch instead!'
          

#============================================
# ============== .NET 6.0 BUILD =============
# ===========================================
  build-dotnet6:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use rework branch
        shell: bash
        id: Notice
        run: |
          echo 'Use nas-rework branch instead!'

#============================================
# ============== .NET 8.0 BUILD =============
# ===========================================
  build-dotnet8:
    runs-on: ubuntu-latest
    steps:
      - name: Use rework branch
        shell: bash
        id: Notice
        run: |
          echo 'Use nas-rework branch instead!'